/*.try {
    background: url("https://image.noelshack.com/fichiers/2018/27/3/1530662621-try.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} A FINIR */ 

html {
    background-color: #FCF8E3;
}

.Top-bar {
    background-color: #888;
    height: 6vh;
    width: 100vw;
    margin: -9px;
}

.content {
    height: 100vh;
    /*width: 100vw;*/
    width: 85vw;
    background-image: url("planSalle.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.fa-random {
    position: absolute;
    top: 45%;
    left: 80%;
    font-size: 100px;
    color: #000000;
    cursor: pointer;
    transition: all 0.8s;
}

.fa-random:hover {
    color: rgb(49, 49, 49);
    text-shadow: 5px 5px rgb(153, 150, 150);;
}

.legend {
    text-align: center;
    position: absolute;
    top: 10%;
    /*right: 0;
    width: 25%;*/
    left: 30%;
    background-color: rgb(206, 206, 206);
    border: 1px solid white;
    border-radius: 5px;
}

.ligne-1 {
    border-bottom: 2px solid white;
    background-color: rgb(170, 164, 164);
}

.ligne-2 {
    border-bottom: 2px solid rgba(238, 238, 238, 0.507);
}

.place {
    /*font-size: 40px;
     font-style: italic;*/
    position: absolute;
    line-height: 40px;
    background: rgb(170, 164, 164);
    border: 2px solid #000000;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 26px;
}

.place1 {
    position: absolute;
    line-height: 40px;
    background: rgb(206, 206, 206);
    border: 2px solid #000000;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 26px;
}

#p1 {
    left: 5%;
    top: 13%;
}

#p2 {
    left: 5%;
    top: 33%;
}

#p3 {
    left: 5%;
    top: 52%;
}

#p4 {
    left: 5%;
    top: 72%;
}

#p5 {
    left: 5%;
    top: 90%;
}

#p6 {
    left: 19%;
    top: 72%;
}

#p7 {
    left: 19%;
    top: 52%;
}

#p8 {
    left: 19%;
    top: 33%;
}

#p9 {
    left: 19%;
    top: 13%;
}

#p10 {
    left: 54.5%;
    top: 24%;
}

#p11 {
    left: 54.5%;
    top: 42.5%;
}

#p12 {
    left: 54.5%;
    top: 62%;
}

#p13 {
    left: 54.5%;
    top: 82%;
}

#p14 {
    left: 68.5%;
    top: 82%;
}

#p15 {
    left: 68.5%;
    top: 62%;
}

#p16 {
    left: 68.5%;
    top: 42.5%;
}

#p17 {
    left: 68.5%;
    top: 24%;
}

#p0 {
    left: 19%;
    top: 90%;
}